<article>
  <header>
    <hgroup>
      <h1><%= current_article_title %></h1>
      <time datetime="<%= current_article_date %>"><%= current_article_date.strftime('%d %B %Y') %></time>
    </hgroup>
    <% if not current_article_tags.empty? %>
    <small>Tags:
    <% current_article_tags.each do |tag,link| %>
      <a href="/<%= link %>"><%= tag %></a>
    <% end %>
    </small>
    <% end %>
  </header>

  <%= yield_content :blog_article %>
</article>
