<article>
  <time><%= current_article_date.strftime('%Y-%m-%d') %></time>

  <div class="body">
    <h1><%= current_article_title %></h1>
    <%= yield_content :blog_article %>
    <strong>Tags:</strong>
    <ul class="tags">
      <% current_article_tags.each do |tag, path| %>
      <li><a href="/<%= path %>"><%= tag %></a></li>
      <% end %>
    </ul>
  </div>
</article>
